<div class="row" *ngIf="payslip">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="mt-4">
                    <span class="font_14 font-weight-bold" id="payslip_username">{{ payslip.employeeName }}</span>
                    <span class="font_10 ml-10"
                        >Invoice from <span class="font-weight-bold">{{ payslip.startDate | date }}</span> To <span class="font-weight-bold">{{ payslip.endDate | date }}</span></span
                    >
                </div>
                <hr />
                <table class="table font_12 mt-3">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold bdt">Payroll</td>
                            <td class="bdt" id="inv_type_lbl">Attendance base</td>
                            <td class="font-weight-bold bdt">Total days</td>
                            <td class="bdt" id="inv_total_att">{{ payslip.totalDays }} days</td>
                            <td class="font-weight-bold bdt">Required</td>
                            <td class="bdt" id="inv_required_att">{{ payslip.requiredDays }} days</td>

                            <td class="font-weight-bold bdt">Present days</td>
                            <td class="bdt" id="inv_present_att">{{ payslip.presentDays }} days</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold bdt">Earned</td>
                            <td class="bdt" id="inv_earned_att">{{ payslip.earnedDays }} days</td>
                            <td class="font-weight-bold bdt">Off Days</td>
                            <td class="bdt" id="inv_adjust_late_att">{{ payslip.totalOffDays }} days</td>
                            <td class="font-weight-bold bdt">Absent days</td>
                            <td class="bdt" id="inv_absent_att">{{ payslip.absentDays }} days</td>
                            <td class="font-weight-bold bdt">Leaves - Holidays</td>
                            <td class="bdt" id="inv_leaves">({{ payslip.leaves }} - {{ payslip.totalHoliDays }}) days</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-6">
                        <span class="font_14 ml-1">Earnings</span>
                        <table class="table font_12 mt-3">
                            <tbody>
                                <tr *ngFor="let earning of earnings">
                                    <td>{{ earning.transactionName }}</td>
                                    <td class="text-primary-d" id="inv_basic_pay">{{ earning.earning | currency }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Total Earned</td>
                                    <td class="font-weight-bold" id="inv_total_earned">{{ getTotalEarned() | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <span class="font_14 ml-1">Deductions</span>
                        <table class="table font_12 mt-3">
                            <tbody>
                                <tr *ngFor="let deduct of deductions">
                                    <td>{{ deduct.transactionName }}</td>
                                    <td class="text-primary-d" id="inv_basic_pay">{{ deduct.deduction | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" id="payslip_items_container">
                    <div class="col-6"><span class="font_14 ml-1"></span></div>
                    <div class="col-6">
                        <span class="font_14 ml-1"></span>
                        <table class="table font_12 mt-3">
                            <tbody>
                                <tr>
                                    <td class="font-weight-bold">Total Deduction</td>
                                    <td class="font-weight-bold">{{ getTotalDeductions() | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <table class="table font_14 mt-3">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold bdt pl-0">Net Pay</td>
                            <td class="font-weight-bold bdt" id="inv_net_pay">{{ getNetPay() | currency }}</td>
                            <td class="font-weight-bold bdt">
                                Payment Mode : <span id="inv_pay_mode">{{ PaymentModeMapping[payslip.paymentMode] }}</span>
                            </td>
                            <td class="font-weight-bold bdt">
                                Bank Account# : <span id="inv_pay_mode">{{ payslip.bankAccountNo }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
