<nb-card>
    <nb-card-header>
        Inventory Import
        <nb-actions size="medium" style="float: right">
            <nb-action>
                <nb-icon class="action-icon" status="success" (click)="onDownloadSampleFile()" icon="cloud-download-outline"></nb-icon>
                Sample
            </nb-action>
            <nb-action *ngIf="inventoryData.length == 0">
                <input #file type="file" hidden (change)="onSelectFile($event)" />
                <nb-icon class="action-icon" status="danger" (click)="file.click()" icon="cloud-upload-outline"></nb-icon>
                Upload
            </nb-action>
            <nb-action *ngIf="inventoryData.length > 0">
                <nb-icon class="action-icon" status="primary" (click)="saveInventory()" icon="save-outline"></nb-icon>
                Save
            </nb-action>
        </nb-actions>
    </nb-card-header>

    <nb-card-body>
        <div style="height: calc(100vh - 217px)" class="ag-theme-alpine">
            <app-ag-grid-base
                #AgGrid
                [rowData]="inventoryData"
                [columnDefs]="inventoryColumns"
                [pagination]="true"
                (gridReadyComplete)="gridReady($event)"
                headerHeight="50"
                sideBar="false"
                paginationPageSize="100"
            >
            </app-ag-grid-base>
        </div>
    </nb-card-body>
</nb-card>
