<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-xs-12 col-md-3" *ngFor="let filter of filters">
                <mat-form-field appearance="outline" *ngIf="['text', 'password', 'email', 'number', 'search', 'tel', 'url', 'time'].includes(filter.controlType)">
                    <mat-label>{{ filter.label }}</mat-label>
                    <input matInput [type]="filter.type" [formControlName]="filter.name" [value]="filter.value" />
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="filter.controlType == 'dropdown'">
                    <mat-label>{{ filter.label }}</mat-label>
                    <mat-select [formControlName]="filter.name" [name]="filter.name">
                        <mat-option *ngFor="let row of filter.data" [value]="row.key">{{ row.value }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="filter.controlType == 'checkbox'">
                    <mat-label>{{ filter.label }}</mat-label>
                    <mat-checkbox [checked]="filter.value" [formControlName]="filter.name"> </mat-checkbox>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button cdkFocusInitial color="primary" [disabled]="!formGroup.dirty" type="submit">Search</button>
    </mat-dialog-actions>
</form>
