<div *ngIf="!this.brands || !this.categories" class="d-flex justify-center p-4">
    <mat-icon>
        <mat-spinner diameter="20"> </mat-spinner>
    </mat-icon>
    Loading ...
</div>
<div *ngIf="this.brands && this.categories">
    <h2 mat-dialog-title>{{ formTitle }}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm"  >
        <mat-dialog-content class="mat-typography">
            <div class="row">
                <input formControlName="id" type="hidden" />
                <div class="col-xs-12 col-md-3">
                    <app-uploader [url]="this.url" (onLoadFile)="onSelectFile($event)"></app-uploader>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input autocomplete="off" formControlName="name" matInput placeholder="Name" required  disabled/>
                                <mat-error>Please provide a valid name</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Detail</mat-label>
                                <input autocomplete="off" formControlName="detail" matInput placeholder="Detail" disabled/>
                                <mat-error> Please provide a valid detail </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Product Code</mat-label>
                                <input autocomplete="off" formControlName="productCode" matInput placeholder="Product Code" disabled />
                                <mat-error>Please provide a valid product code</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Barcode Symbology</mat-label>
                                <input autocomplete="off" formControlName="barcodeSymbology" matInput placeholder="Barcode Symbology" disabled required />
                                <mat-error>Please provide a valid Barcode</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Location</mat-label>
                                <input autocomplete="off" formControlName="location" matInput placeholder="Location" required disabled />
                                <mat-error>Please provide a valid Location</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Price</mat-label>
                                <input autocomplete="off" formControlName="price" matInput placeholder="Price" required type="number"  disabled />
                                <mat-error>Please provide a valid Price value</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Cost Price</mat-label>
                                <input autocomplete="off" formControlName="cost" matInput placeholder="Cost Price" required type="number" disabled />
                                <mat-error>Please provide a valid Cost Price value</mat-error>
                            </mat-form-field>
                        </div>
                      
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-dialog-close mat-raised-button>Close</button>
        </mat-dialog-actions>
    </form>
</div>
