<input #file type="file" accept=".xlsx" hidden (change)="handleFileSelect($event)" />
<button style="width: 100%" type="button" (click)="file.click()" mat-raised-button color="accent">
    <span><span style="margin-right: 10px" class="fas fa-upload"></span>Upload File</span>
</button>

<div [hidden]="!products">
    <app-table
        [title]="'Product Import'"
        [subtitle]="'Import products through file.'"
        [data]="products && products.data"
        [columns]="productColumns"
        (onFilter)="filter($event)"
        (onReload)="reload()"
        (onCreateForm)="openForm()"
        (onEditForm)="openForm($event)"
        (onSort)="sort($event)"
        (onDelete)="remove($event)"
        [totalCount]="products && products.totalCount"
        [pageSize]="products && products.pageSize"
        (onPageChanged)="pageChanged($event)"
    >
    </app-table>
</div>
