<nb-card *ngIf="order">
    <nb-card-header>
        Order {{order.name}} |
        <nb-actions size="medium" style="float: right;">
            <nb-action>
                <nb-icon class="action-icon" status="primary" icon="checkmark-outline"></nb-icon>
                <span>Approve</span>
            </nb-action>
            <nb-action>
                <nb-icon class="action-icon" (click)="cancelOrder()" status="danger"
                    icon="close-circle-outline"></nb-icon>
                <span>Cancel</span>
            </nb-action>
        </nb-actions>

    </nb-card-header>

    <nb-card-body>
        <div class="invoice-box table-height"
            style="max-width: 1600px;width:100%;overflow: auto;margin:15px auto;padding: 0;font-size: 14px;line-height: 24px;color: #555;">
            <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                <tbody>
                    <tr class="top">
                        <td colspan="6" style="padding: 5px;vertical-align: top;">
                            <table style="width: 100%;line-height: inherit;text-align: left;">
                                <tbody>
                                    <tr>
                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                            <font style="vertical-align: inherit;margin-bottom:25px;">
                                                <font
                                                    style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                    Customer Info</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.shippingAddress.name}}</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.email}}</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.shippingAddress.phone}}</font>
                                            </font><br>
                                        </td>
                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                            <font style="vertical-align: inherit;margin-bottom:25px;">
                                                <font
                                                    style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                    Shipping Address</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.shippingAddress.name}} </font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.shippingAddress.address1}},</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    {{order.shippingAddress.city}},
                                                    {{order.shippingAddress.country}}</font>
                                            </font><br>
                                        </td>
                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                            <font style="vertical-align: inherit;margin-bottom:25px;">
                                                <font
                                                    style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                    Invoice Info</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    <b>Shopify Id</b> - {{order.shopifyId}}
                                                </font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    <b>Order#</b> - {{order.name}}
                                                </font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    <b>Order Date</b> - {{order.processedAt | date: 'dd/MM/yy h:mm:ss
                                                    a'}}
                                                </font>
                                            </font><br>
                                        </td>
                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                            <font style="vertical-align: inherit;margin-bottom:25px;">
                                                <font
                                                    style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                    Current Standing</font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    <b>Order Status</b> - {{OrderStatusMapping[order.status]}}
                                                </font>
                                            </font><br>
                                            <font style="vertical-align: inherit;">
                                                <font
                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                    <b>Payment Method</b> - {{order.paymentGatewayNames}}
                                                </font>
                                            </font><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <nb-card>
            <nb-card-body>

                <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                    <tbody>

                        <tr class="heading " style="background: #F3F2F7;">
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                Product Name
                            </td>
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                SKU
                            </td>
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                QTY
                            </td>
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                Price
                            </td>
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                Discount
                            </td>
                            <td
                                style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                Subtotal
                            </td>
                        </tr>
                        <tr *ngFor="let item of order.lineItems" class="details"
                            style="border-bottom:1px solid #E9ECEF ;">
                            <td style="padding: 10px;vertical-align: top; display: flex;align-items: center;">
                                <img src="{{item.imageUrl}}" alt="img" class="me-2" style="width:40px;height:40px;">
                                {{item.name}}
                            </td>
                            <td style="padding: 10px;vertical-align: top; ">
                                {{item.sku}}
                            </td>
                            <td style="padding: 10px;vertical-align: top; ">
                                {{item.quantity}}
                            </td>
                            <td style="padding: 10px;vertical-align: top; ">
                                {{item.price}}
                            </td>
                            <td style="padding: 10px;vertical-align: top; ">
                                {{item.total_discount}}
                            </td>
                            <td style="padding: 10px;vertical-align: top; ">
                                {{item.quantity * item.price}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
<nb-layout-footer *ngIf="order" fixed style="position: fixed;
bottom: 0;
width: 100%;">
    <nb-list>
        <nb-list-item role="listitem" class="ng-star-inserted">
            <div class="total-order">
                <div class="caption">Sub Total</div>
                <div class="value">{{order.subtotalPrice}}</div>
            </div>
            <div class="total-order">
                <div class="caption">Shipping</div>
                <div class="value">{{order.totalShippingPrice}}</div>
            </div>
            <div class="total-order">
                <div class="caption">Total</div>
                <div class="value">{{order.totalPrice}}</div>
            </div>

        </nb-list-item>
    </nb-list>
</nb-layout-footer>