<nb-card *ngIf="order">
    <nb-card-header>
        Order {{ order.name }} |

        <nb-actions size="medium" style="float: right">
            <!-- <nb-action *ngIf="displayButton(order.status,'split')">
                <nb-icon class="action-icon" (click)="splitOrderPopup()" status="primary"
                    icon="scissors-outline"></nb-icon>
                <span>Split</span>
            </nb-action> -->
            <!-- <nb-action *ngIf="order.status>=3">
                <nb-icon class="action-icon" (click)="fulFillOrder()" status="primary"
                    icon="done-all-outline"></nb-icon>
                <span>FulFill</span>
            </nb-action> -->
            <nb-action *ngIf="displayButton(order.status, 'approve')">
                <button nbButton size="small" status="primary" (click)="openConfirmationDialog('approve', true)">Approve</button>
            </nb-action>
            <nb-action *ngIf="displayButton(order.status, 'acceptOrder')">
                <button nbButton size="small" status="primary" (click)="openConfirmationDialog('accept', false)">Accept Order</button>
            </nb-action>
            <nb-action *ngIf="displayButton(order.status, 'rejectOrder')">
                <button nbButton nbButton size="small" status="warning" (click)="openConfirmationDialog('reject', true)">Reject Order</button>
            </nb-action>
            <nb-action *ngIf="displayButton(order.status, 'reQueueOrder')">
                <button nbButton nbButton size="small" status="warning" (click)="openConfirmationDialog('reQueue', true)">ReQueue Order</button>
            </nb-action>

            <nb-action *ngIf="displayButton(order.status, 'confirmOrder')" routerLink="/admin/sales/confirm-order">
                <button nbButton nbButton size="small" status="info">Confirm Order</button>
            </nb-action>

            <nb-action *ngIf="displayButton(order.status, 'cancel')">
                <button nbButton nbButton size="small" status="danger" (click)="openConfirmationDialog('cancel', true)">Cancel</button>
            </nb-action>
        </nb-actions>
    </nb-card-header>

    <nb-card-body>
        <div class="invoice-box table-height" style="max-width: 1600px; width: 100%; overflow: auto; margin: 15px auto; padding: 0; font-size: 14px; line-height: 24px; color: #555">
            <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left">
                <tbody>
                    <tr class="top">
                        <td colspan="6" style="padding: 5px; vertical-align: top">
                            <table style="width: 100%; line-height: inherit; text-align: left">
                                <tbody>
                                    <tr>
                                        <td style="padding: 5px; vertical-align: top; text-align: left; padding-bottom: 20px">
                                            <font style="vertical-align: inherit; margin-bottom: 25px">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #7367f0; font-weight: 600; line-height: 35px"> Customer Info</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.firstName }} {{ order.lastName }}</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.customerEmail || order.email }}</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.customerPhone || order.phone }}</font> </font
                                            ><br />
                                        </td>
                                        <td style="padding: 5px; vertical-align: top; text-align: left; padding-bottom: 20px">
                                            <font style="vertical-align: inherit; margin-bottom: 25px">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #7367f0; font-weight: 600; line-height: 35px"> Shipping Address</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.firstName }} {{ order.lastName }} </font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.address1 }},</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> {{ order.city }}, {{ order.country }}</font> </font
                                            ><br />
                                        </td>
                                        <td style="padding: 5px; vertical-align: top; text-align: left; padding-bottom: 20px">
                                            <font style="vertical-align: inherit; margin-bottom: 25px">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #7367f0; font-weight: 600; line-height: 35px"> Invoice Info</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> <b>Shopify Id</b> - {{ order.shopifyId }} </font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> <b>Order#</b> - {{ order.name }} </font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400">
                                                    <b>Order Date</b> -
                                                    {{
                                                        order.processedAt
                                                            | date
                                                                : "dd/MM/yy h:mm:ss
                                                    a"
                                                    }}
                                                </font> </font
                                            ><br />
                                        </td>
                                        <td style="padding: 5px; vertical-align: top; text-align: left; padding-bottom: 20px">
                                            <font style="vertical-align: inherit; margin-bottom: 25px">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #7367f0; font-weight: 600; line-height: 35px"> Current Standing</font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400">
                                                    <b>Order Status</b> - {{ OrderStatusMapping[order.status] }}
                                                </font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400"> <b>Payment Method</b> - {{ order.paymentMethod }} </font> </font
                                            ><br />
                                            <font style="vertical-align: inherit">
                                                <font style="vertical-align: inherit; font-size: 14px; color: #000; font-weight: 400">
                                                    <b>Tracking Info</b> - {{ order.trackingNumber }} -
                                                    {{ order.trackingCompany }}
                                                </font> </font
                                            ><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nb-card>
            <nb-card-header style="position: relative">
                <nb-badge text="{{ getLocationName(order.assigned_location_id) }}" status="success" position="top left"></nb-badge>
                <nb-badge *ngIf="order.status == 'closed'" text="FulFilled" status="info" position="top right"></nb-badge>
                <nb-actions size="medium" style="float: right">
                    <nb-action *ngIf="order.status >= 3 && order.status == 'open'">
                        <nb-icon class="action-icon" (click)="fulFillOrder(order)" status="primary" icon="done-all-outline"></nb-icon>
                        <span>FulFill</span>
                    </nb-action>
                </nb-actions>
            </nb-card-header>
            <nb-card-body>
                <div class="product-grid">
                    <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left">
                        <tbody>
                            <tr class="heading" style="background: #f3f2f7">
                                <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Product Name</td>
                                <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">SKU</td>
                                <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">QTY</td>
                                <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Price</td>
                                <!-- <td
                                    style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                    Discount
                                </td> -->
                                <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Subtotal</td>
                            </tr>
                            <tr *ngFor="let item of order.fulfillmentOrderLineItems" class="details" style="border-bottom: 1px solid #e9ecef">
                                <td style="padding: 10px; vertical-align: top; display: flex; align-items: center">
                                    <img src="{{ getLineItemDetail(item, 'imageUrl') }}" alt="img" class="me-2" style="width: 40px; height: 40px" />
                                    {{ getLineItemDetail(item, "name") }}
                                </td>
                                <td style="padding: 10px; vertical-align: top">
                                    {{ getLineItemDetail(item, "sku") }}
                                </td>
                                <td style="padding: 10px; vertical-align: top">
                                    {{ item.quantity }}
                                </td>
                                <td style="padding: 10px; vertical-align: top">
                                    {{ getLineItemDetail(item, "price") }}
                                </td>
                                <!-- <td style="padding: 10px;vertical-align: top; ">
                                    {{getLineItemDetail(item,'total_discount')}}
                                </td> -->
                                <td style="padding: 10px; vertical-align: top">
                                    {{ item.quantity * getLineItemDetail(item, "price") }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
<nb-layout-footer *ngIf="order">
    <nb-list>
        <nb-list-item role="listitem" class="ng-star-inserted">
            <div class="total-order">
                <div class="caption">Sub Total</div>
                <div class="value">{{ order.subtotalPrice }}</div>
            </div>
            <div class="total-order">
                <div class="caption">Shipping</div>
                <div class="value">{{ order.totalShippingPrice }}</div>
            </div>
            <div class="total-order">
                <div class="caption">Total</div>
                <div class="value">{{ order.totalPrice }}</div>
            </div>
        </nb-list-item>
    </nb-list>
</nb-layout-footer>
