.total-order {
    flex: 1 0 auto;
    margin: 0 0.25rem;
}

.total-order .caption {
    color: black;
}

.total-order .value {
    font-size: 34px;
    padding: 4px;
}


tbody tr:nth-child(even) {
	background: #ddd;
}
nb-card {
    margin-bottom: 0;
}