<!-- <div [hidden]="!products">
  <app-table [permissions]="['Permissions.Products.Register']" [title]="'Products'" [subtitle]="'Manage, Register, Update or Remove Products here.'"
    [data]="products && products.data" [columns]="productColumns" (onFilter)="filter($event)"
    (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
    (onDelete)="remove($event)" (onExport)="onExport($event)" [totalCount]="products && products.totalCount"
    [pageSize]="products && products.pageSize" (onPageChanged)="pageChanged($event)" (onView)="view($event)">
  </app-table>
</div> -->

<nb-card>
  <nb-card-header>
    Products
  </nb-card-header>

  <nb-card-body>
    <div style="height: calc(100vh - 217px)" class="ag-theme-alpine">
      <app-ag-grid-base #AgGrid [rowData]="productsData" [columnDefs]="productColumns" [pagination]="true"
        (gridReadyComplete)="onGridReady($event)" headerHeight="50" sideBar="false" [paginationPageSize]="pageSize"
        [rowModelType]="rowModelType" [enableServerSideFilter]="enableServerSideFilter"
        [enableServerSideSorting]="enableServerSideSorting">
      </app-ag-grid-base>
    </div>
  </nb-card-body>
</nb-card>
<nb-layout-footer fixed style="position: fixed;
bottom: 0;
width: 100%;">
  <nb-actions size="small" style="float: right;">
    <nb-action (click)="syncProducts()">
      <nb-icon class="action-icon" icon="sync-outline"></nb-icon>
      <span>Sync</span>
    </nb-action>
  </nb-actions>
</nb-layout-footer>