<div [hidden]="!branchs">
    <app-table  [title]="'Branchs'" [subtitle]="'Manage, Register, Update or Remove Branchs here.'"
        [data]="branchs && branchs.data" [columns]="branchColumns" (onFilter)="filter($event)"
        (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
        (onDelete)="remove($event)" [totalCount]="branchs && branchs.totalCount" [pageSize]="branchs && branchs.pageSize"
        (onPageChanged)="pageChanged($event)"
        [moduleName]="'Branchs'"
        >
    </app-table>
</div>