<div [hidden]="!salaries">
    <app-table
        [title]="'Employee Salaries'"
        [subtitle]="'Manage, Register, Update or Remove Employee Salaries here.'"
        [data]="salaries && salaries.data"
        [columns]="salariesColumns"
        (onFilter)="filter($event)"
        (onReload)="reload()"
        (onCreateForm)="openForm()"
        (onEditForm)="openForm($event)"
        (onSort)="sort($event)"
        (onDelete)="remove($event)"
        [totalCount]="salaries && salaries.totalCount"
        [pageSize]="salaries && salaries.pageSize"
        (onPageChanged)="pageChanged($event)"
        [moduleName]="'EmployeesSalary'"
        [customActionButtons]="actionButtons"
        (onCustomActionButton)="openCustomActionButton($event)"
    >
    </app-table>
</div>

