<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <input mat type="hidden" formControlName="id" />
            <div class="col-xs-12 col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput autocomplete="off" placeholder="Name" formControlName="name" required />
                    <mat-error> Please provide a valid name </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>HOD</mat-label>
                    <mat-select formControlName="headOfDepartment" name="headOfDepartment">
                        <mat-option *ngFor="let org of hodLookups" [value]="org.id">
                            {{ org.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error> Please provide a valid Head Of Department </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Policy</mat-label>
                    <mat-select formControlName="policyId" name="policyId" required>
                        <mat-option *ngFor="let policy of policies" [value]="policy.id">{{ policy.name }}</mat-option>
                    </mat-select>
                    <mat-error> Please provide a valid Policy </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Production/Day</mat-label>
                    <input matInput autocomplete="off" placeholder="Production" formControlName="production" required />
                    <mat-error> Please provide a valid production qty. </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Parent Department</mat-label>
                    <mat-select formControlName="parentId" name="parentId">
                        <mat-option *ngFor="let org of departments" [value]="org.id">
                            {{ org.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error> Please provide a valid Head Of Department </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput autocomplete="off" placeholder="description" formControlName="description" />
                    <mat-error> Please provide a valid detail </mat-error>
                </mat-form-field>
            </div>
           
           
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button cdkFocusInitial color="primary" [disabled]="!departmentForm.dirty || !departmentForm.valid" type="submit">Save</button>
    </mat-dialog-actions>
</form>
