@use "~@angular/material" as mat;

@mixin cron-editor-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    // your custom component's selector
    .cron-editor {
        background-color: mat.get-color-from-palette($primary);
        border-color: mat.get-color-from-palette($accent, A400);
    }
}

@mixin candy-carousel-typography($config) {
    .cron-editor {
        font: {
            family: mat.font-family($config, body-1);
            size: mat.font-size($config, body-1);
            weight: mat.font-weight($config, body-1);
        }
    }
}
.cron-editor-main {
    //@include mat-elevation(1);
}

.cron-editor-main .cron-editor-container {
}

.cron-editor-tab-content {
    height: 200px;
    margin-top: 24px;
    border-radius: 8px;
}

.cron-editor-main .cron-editor-container .cron-editor-radio {
    width: 20px;
    display: inline-block;
}

.cron-editor-main .cron-editor-container .cron-editor-select,
.cron-editor-main .cron-editor-container .cron-editor-input,
.cron-editor-main .cron-editor-container .cron-editor-checkbox {
    display: inline-block;
}

.cron-editor-main .cron-editor-container .well-time-wrapper {
    padding-left: 20px;
}

.cron-editor-main .cron-editor-container .inline-block {
    display: inline-block;
}

.cron-editor-main .cron-editor-container .hour-types {
    width: 70px;
}

.nav-tabs li a {
    cursor: pointer;
}

.cron-editor-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.cron-editor-radio-button {
    margin: 5px;
}

.checkbox-margin {
    margin: 0 10px;
}
