:host {
    nb-card-body {
        flex: 1;
        -ms-flex: 1 1 auto;
        overflow: auto;
        padding: 1rem 1.5rem;
        position: relative;
    }
}

.bg_deleted_row {
    background-color: #f1aaaa;
    opacity: 75%;
}
