<nb-card class="inline-form-card">
    <nb-card-header>Generate Loadsheet</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="firstForm" (ngSubmit)="scanLoadSheetOrder()" class="step-container">
                    <div class="row">
                        <div class="col-xs-2 col-md-5">
                            <nb-form-field>
                                <nb-icon nbPrefix icon="alert-circle-outline"></nb-icon>
                                <nb-select placeholder="Outlets" formControlName="warehouseId" (selectedChange)="warehouseChange($event)" [disabled]="isWarehouseSelected">
                                    <nb-option *ngFor="let item of warehouseData" [value]="item.id">{{ item.name }}</nb-option>
                                </nb-select>
                            </nb-form-field>
                        </div>
                        <div class="col-md-1">
                            <nb-icon nbPrefix icon="trash-2-outline" (click)="resetWarehouse()"> reset</nb-icon>
                        </div>
                        <div class="input-group col-xs-2 col-md-4">
                            <input
                                nbInput
                                type="text"
                                placeholder="Enter order#"
                                class="form-control"
                                formControlName="searchText"
                                [ngClass]="{ 'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched) }"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-2 col-md-2 offset-md-4">
                <button nbButton status="primary" size="small" (click)="generateLoadSheet()">Save Loadsheet</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="invoice-box table-height" style="max-width: 1600px; width: 100%; overflow: auto; margin: 15px auto; padding: 0; font-size: 14px; line-height: 24px; color: #555">
            <div class="product-grid">
                <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left">
                    <tbody>
                        <tr class="heading" style="background: #f3f2f7">
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Sr#</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Order Number</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">CN#</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">City</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Payment Method</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Pieces</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">COD Amount</td>
                            <td style="padding: 5px; vertical-align: middle; font-weight: 600; color: #5e5873; font-size: 14px; padding: 10px">Action</td>
                        </tr>
                        <tr *ngFor="let item of loadSheetOrder; index as i" class="details" style="border-bottom: 1px solid #e9ecef" [class.bg_deleted_row]="item.isDeleted == true">
                            <td style="padding: 10px; vertical-align: top; display: flex; align-items: center">
                                {{ i + 1 }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                {{ item.orderNumber }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                {{ item.trackingNumber }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                {{ item.city }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                {{ item.paymentMethod }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                {{ item.totalQuantity }}
                            </td>

                            <td style="padding: 10px; vertical-align: top">
                                {{ item.totalAmount }}
                            </td>
                            <td style="padding: 10px; vertical-align: top">
                                <button nbButton size="small" status="danger" *ngIf="item.isDeleted != true" (click)="removeOrder(item)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
