<nb-card>
  <nb-card-body>
    <nb-tabset (changeTab)="tabSelection($event)">
      <nb-tab tabTitle="All" tabId="0" badgeText="{{orderData.length}}" badgeStatus="success">
        <div style="height: calc(100vh - 170px)" class="ag-theme-alpine">
          <app-ag-grid-base #AgGrid [rowData]="orderData" [columnDefs]="orderColumns" [pagination]="true"
            (gridReadyComplete)="gridReady($event)" headerHeight="50" sideBar="false" paginationPageSize="100">
          </app-ag-grid-base>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Assigned To Head Office" tabId="1" badgeText="{{athoOrderCount}}" badgeStatus="warning">
        <app-assigned-to-headoffice [(count)]="athoOrderCount"></app-assigned-to-headoffice>
      </nb-tab>
      <nb-tab tabTitle="Assigned To Outlet" tabId="1" badgeText="{{atolOrderCount}}" badgeStatus="warning">
        <app-assigned-to-outlet [(count)]="atolOrderCount"></app-assigned-to-outlet>
      </nb-tab>

      <nb-tab tabTitle="Approved" tabId="5" badgeText="{{approvedOrderData.length}}" badgeStatus="success">
        <div style="height: calc(100vh - 170px)" class="ag-theme-alpine">
          <app-ag-grid-base #AgGrid [rowData]="approvedOrderData" [columnDefs]="orderColumns" [pagination]="true"
            (gridReadyComplete)="gridReady($event)" headerHeight="50" sideBar="false" paginationPageSize="100">
          </app-ag-grid-base>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Preparing" tabId="10" badgeText="{{preparingOrderCount}}" badgeStatus="success">
        <app-preparing [(count)]="preparingOrderCount"></app-preparing>
      </nb-tab>
      <nb-tab tabTitle="Ready To Ship" tabId="6" badgeText="{{rtsOrderCount}}" badgeStatus="success">
        <app-ready-to-ship [(count)]="rtsOrderCount"></app-ready-to-ship>
      </nb-tab>
      <nb-tab tabTitle="Shipped" tabId="6" badgeText="{{shippedOrderCount}}" badgeStatus="success">
        <app-shipped [(count)]="shippedOrderCount"></app-shipped>
      </nb-tab>
      <nb-tab tabTitle="Delivered" tabId="0" badgeText="new" badgePosition="top right" badgeStatus="success">
        <p>List of <strong>transactions</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Cancelled" tabId="2" badgeText="{{cancelledOrderData.length}}" badgeStatus="success">
        <div style="height: calc(100vh - 170px)" class="ag-theme-alpine">
          <app-ag-grid-base #AgGrid [rowData]="cancelledOrderData" [columnDefs]="orderColumns" [pagination]="true"
            (gridReadyComplete)="gridReady($event)" headerHeight="50" sideBar="false" paginationPageSize="100">
          </app-ag-grid-base>
        </div>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>