<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <input mat type="hidden" formControlName="id" />
            <div class="col-xs-12 col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Job Name</mat-label>
                    <mat-select formControlName="jobName" name="jobName">
                        <mat-option *ngFor="let type of jobTypes" [value]="type">{{ JobTypeMapping[type] }}</mat-option>
                    </mat-select>
                    <mat-error> Please provide a valid Job Name </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
                <mat-checkbox class="example-margin" formControlName="enabled">Enabled</mat-checkbox>
            </div>

            <div class="col-xs-12 col-md-12">
                <app-cron-gen [formControl]="cronForm"></app-cron-gen>
            </div>
            <div class="col-xs-12 col-md-12">
                <b>Expression: {{cronForm.value}}</b>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button cdkFocusInitial color="primary" [disabled]="!jobForm.dirty || !jobForm.valid" type="submit">Save</button>
    </mat-dialog-actions>
</form>
